<head>
    <link rel="stylesheet" href="static/css/main.css" />
</head>

<body>
    <br>
    <div class="container">
        <h6>네이버 뉴스 크롤링</h6>
        <hr>
        <form action="/submit" method="post">
            <div class="row">
                <div class="col-4">
                    <div class="modal-summary">키워드를 입력하세요:</div>
                    <input type="text" id="user_input" name="user_input" />
                </div>
            </div>
            <br>
            <button type="submit">크롤링 시작</button>
        </form>
    </div>
</body>